@import './scss/mixins';
@import './scss/fonts';
@import './scss/form';
@import './scss/utilities';

:global {
	* {
		margin: 0;
		padding: 0;
		color: $black;
		box-sizing: border-box;
		@include font;
	}
}
