@import './variables';
@import './mixins';

:global {
	.m-b-2 {
		@include margin-bottom(2);
	}

	.p-1 {
		@include padding(1);
	}

	.text-warn {
		color: $warn;
	}

	.btn {
		@include padding(1);
		color: #fff;
		border: 0;
		border-radius: 25px;
		min-width: 7rem;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	}

	.btn-primary {
		background-color: $primary;
	}

	.btn-warn {
		background-color: $warn;
	}
}
